<ul class="form-style-1">

<h2> Flight: <%= @flight.flightNumber %></h2>


<%= @flight.origin %> > <%= @flight.destination %>

</ul>
<img class= plane src="https://i.ibb.co/4FBVQvw/Pin-Clipart-com-inclined-plane-clip-art-1953989.png" alt="Airplane">
