body{

  font-family: 'Noto Sans', sans-serif;

}

.field_with_errors{
  color:red;
}

.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.heading{

}


.plane{
  width: 10%;
  position: relative;
  left: 40%;
}



.header {
  padding: 6%;
  text-align: center;
  background-image: url("https://i.ibb.co/zxcnYNn/Ce-Ay-Dk-X-clouds-wallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  color: Black;
  font-size: 30px;

}
